<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Login</title>
        <link rel="shortcut icon" href="static/img/logo.png">
        <link rel="stylesheet" href="static/css/slyle.css" />
        <script
            src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"
            defer
        ></script>
    </head>
    <body>
        <header class="header">
            <nav class="navigation container">
                <div class="navigation__contant navigation__contant-login">
                    <div class="navigation__contant-log">
                        <a href="./index.html">
                            <img
                                class="navigation__logo"
                                src="static/img/logo.png"
                                alt="logo"
                            />
                        </a>
                        <a class="navigation__contant-text" href="./index.html"
                            >Рецепты</a
                        >
                    </div>
                    <div class="navigation__btns">
                        <a class="navigation__login header-error" href="./login.html"
                            >Авторизация</a
                        >
                        <a class="navigation__login header-error" href="./register.html"
                            >Зарегистрироваться</a
                        >
                    </div>
                </div>
            </nav>
        </header>
        <main>
            <section class="container error">
                <div>
                    Ошибка добавления рецепта. <br /><br />
                    Для добавленрия рецепта вы должны быть авторизованы!<br /><br />
                </div>
            </section>
        </main>
        <footer class="footer">
            <div class="footer-svgs container">
                <a href="https://vk.com/iris_mertv"
                    ><img src="static/img/telegram.svg" alt=""
                /></a>
                <a href="https://vk.com/iris_mertv"
                    ><img src="static/img/vk.svg" alt=""
                /></a>
                <a href="https://vk.com/iris_mertv"
                    ><img src="static/img/whatsapp.svg" alt=""
                /></a>
            </div>
        </footer>
    </body>
</html>
