<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Рецепты</title>
        <link rel="shortcut icon" href="static/img/logo.png">
        <link rel="stylesheet" href="static/css/slyle.css" />
        <script
            src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"
            defer
        ></script>
        <script src="static/js/mane.js" defer></script>
        <script src="static/js/current_login.js" defer></script>
    </head>
    <body>
        <header class="header">
            <nav class="navigation container">
                <div class="navigation__contant">
                    <a href="./index.html">
                        <img
                            class="navigation__logo"
                            src="static/img/logo.png"
                            alt="logo"
                        />
                    </a>
                    <a class="navigation__contant-text" href="./index.html"
                        >Рецепты</a
                    >
                </div>

                <div class="navigation__btns">
                    <a class="navigation__login" href="./login.html">Авторизация</a>
                    <a class="navigation__login" href="./register.html">Зарегистрироваться</a>
                    <a class="navigation__login disableRecipe" href="./new_recipe.html">Добавить рецепт</a>
                    <div class="disable" id="user-data" data-name="{{ name_user }}"></div>
                    <a class="quit disable" href="./index.html">Выйти </a>
                </div>
            </nav>
        </header>
        <main class="main container">
            <section class="recipes">
                <!-- Swiper -->
                <div class="swiper mySwiper">
                    <div class="swiper-wrapper">

                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </section>
        </main>
        <footer class="footer">
            <div class="footer-svgs container">
                <a href="https://vk.com/iris_mertv"
                    ><img src="static/img/telegram.svg" alt=""
                /></a>
                <a href="https://vk.com/iris_mertv"
                    ><img src="static/img/vk.svg" alt=""
                /></a>
                <a href="https://vk.com/iris_mertv"
                    ><img src="static/img/whatsapp.svg" alt=""
                /></a>
            </div>
        </footer>
    </body>
</html>