<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Login</title>
        <link rel="shortcut icon" href="static/img/logo.png">
        <link rel="stylesheet" href="static/css/slyle.css" />
        <script
            src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"
            defer
        ></script>
        <script src="static/js/login.js" defer></script>
        <script src="static/js/rueng.js" defer></script>
    </head>
    <body>
        <header class="header">
            <nav class="navigation container">
                <div class="navigation__contant navigation__contant-login">
                   <div class="navigation__contant-log ">
                        <a href="./index.html">
                            <img
                                class="navigation__logo"
                                src="static/img/logo.png"
                                alt="logo"
                            />
                        </a>
                        <a id="lang1" class="navigation__contant-text" href="./index.html"
                            >Рецепты</a
                        >
                        <div class="rueng">
                            <p class="langRu activeLang">Ru</p>
                            <p class="langEng ">Eng</p>
                        </div>
                   </div>
                    <div class="navigation__btns">
                        <a id="lang3" class="navigation__login navigation__login-reg" href="./register.html">Зарегистрироваться</a>
                    </div>
                </div>
            </nav>
        </header>
        <section class="form form__login container">
            <form action="#">
                <div id="lang6" class="name">Введите вашу почту:</div>
                <input type="email" placeholder="Email" id="emailInput"/>
                <div id="emailError"></div>
                <div id="lang7" class="name">Введите пароль:</div>
                <input type="password" placeholder="password" id="passwordInput"/>
                <div  id="passwordError"></div>
                <br />
                <br />
            </form>
            <button id="lang8" class="btn">Отправить</button>
        </section>
        <footer class="footer">
            <div class="footer-svgs container">
                <a href="https://t.me/recipe_for_site"
                    ><img src="static/img/telegram.svg" alt=""
                /></a>
                <a href="https://vk.com/iris_mertv"
                    ><img src="static/img/vk.svg" alt=""
                /></a>
                <a href="https://chat.whatsapp.com/FXmIYEXmVENFRDY80oXYC7"
                    ><img src="static/img/whatsapp.svg" alt=""
                /></a>
            </div>
        </footer>
    </body>
</html>