<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Login</title>
        <link rel="shortcut icon" href="static/img/logo.png">
        <link rel="stylesheet" href="static/css/slyle.css" />
        <script
            src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"
            defer
        ></script>
       <script src="static/js/mane.js" defer></script>
    </head>
    <body>
        <header class="header">
            <nav class="navigation container">
                <div class="navigation__contant">
                    <a href="./index.html">
                        <img
                            class="navigation__logo"
                            src="static/img/logo.png"
                            alt="logo"
                        />
                    </a>
                    <a class="navigation__contant-text" href="./index.html"
                        >Рецепты</a
                    >
                </div>
            </nav>
        </header>
        <section class="form container">
            <form action="#">
                <div class="name">Введите ваше имя:</div>
                <input type="text" placeholder="Имя">
                <div class="name">Введите вашу фамилию:</div>
                <input type="text" placeholder="Фамилия">
                <div class="name">Введите пароль:</div>
                <input type="text" placeholder="password">
                <div class="name">Введите вашу почту:</div>
                <input type="email" placeholder="Email">
                <br>
                <button class="btn" type="submit">Отправить</button>
            </form>
        </section>
        <footer class="footer">
            <div class="footer-svgs container">
                <a href="https://vk.com/iris_mertv"
                    ><img src="static/img/telegram.svg" alt=""
                /></a>
                <a href="https://vk.com/iris_mertv"
                    ><img src="static/img/vk.svg" alt=""
                /></a>
                <a href="https://vk.com/iris_mertv"
                    ><img src="static/img/whatsapp.svg" alt=""
                /></a>
            </div>
        </footer>
    </body>
</html>
